<div class="container">
  <h1>Question #<%= @question.id %> </h1>
  <p><%= @question.content %></p>
  <% @question.answers.each do |answer| %>
    <%= link_to do %>
      <div class="answer-card" data-move=<%= !answer.correct %>>
        <p><%= answer.content %></p>
      </div>
    <% end %>
  <% end %>
</div>
